{{define "admin/categories/edit"}}
  {{template "admin/page_top" .}}

  {{template "admin/sidebar" .}}
  <div class="content">
    <div class="title">
      <h1>{{.Title}}</h1>
    </div>

    {{template "flash" .}}

    <form method="POST">
      {{template "admin/categories/form" .}}

      <hr />
      <p>Total products: {{.Category.ProductCount}}</p>
    </form>
  </div>
  {{template "admin/page_bottom" .}}
{{end}}