{{define "navbar_cart"}}
	<li id="navbar-cart">
		<a class="navbar-text navbar-cart" href="/cart">
			<span class="fa fa-shopping-cart">
				<span class="count" v-text="quantity"></span>
			</span>
		</a>
	</li>
{{end}}
