{{define "pagination"}}
	{{if len .Pagination | lt 0}}
		<nav class="pagination-wrapper mt-4">
			<ul class="pagination justify-content-center">
				{{range .Pagination}}
					{{if len .Title | lt 0}}
						<li class="page-item {{.Class}}">
							{{if len .URL | lt 0}}
								<a class="page-link" href="{{.URL}}" rel="{{.Rel}}">{{.Title}}</a>
							{{else}}
								<span class="page-link">{{.Title}}</span>
							{{end}}
						</li>
					{{end}}
				{{end}}
			</ul>
		</nav>
	{{end}}
{{end}}