{{define "sidebar_onsale"}}
  <div class="sidebar-onsale">
    <input type="checkbox" name="on_sale" id="on_sale" value="1" {{if .Context.Query "on_sale" | eq "1"}}checked{{end}} onchange="this.form.submit();" />
    <label for="on_sale" class="ml-2">Only on sale</label>
  </div>
{{end}}